<div class="row">

  <div class="col-xs-6">

    <div *ngFor="let details of bookingDetails" class="list-group-item clearfix">
      <div class="flexBox">
          <p class="list-group-item-heading">
              Booking ID : {{details.bookingID}}
          </p>
          <p class="list-group-item-text">
            {{details.fromPlace}}  to   {{details.toPlace}}
          </p>
          <h4 class="list-group-flush">

            Journey date : {{details.journeyDate}}
          </h4>
      </div>

      <hr>
    </div>
    <div class="flexBox">
      <div class="container">
        <button class="btn btn-success" (click)="onSubmit()">Book a ticket</button>
      </div>
  </div>

  </div>
</div>
