
<div *ngIf="!loginStatus">
  <p>Login to Continue</p>
</div>

<div class="container">
  <div class="frame">
    <div ng-app ng-init="checked = false">
				        <form class="form-signin"  #loginForm='ngForm' (ngSubmit)="onSubmit(userName.value,password.value)">
          <label for="username">Username</label>
          <input class="form-styling" type="text" #userName ngModel name="username" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" #password ngModel name="password" placeholder=""/>
          <input type="checkbox" id="checkbox"/>
          <label for="checkbox" ><span class="ui"></span>Keep me signed in</label>
          <div class="btn-animate">
            <button type="submit" class="btn-signin">Sign in</button>
          </div>
        </form>
    </div>

