<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Explore Canada</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink='/home'>Tourism Spots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/booking' href="#" >Bus Booking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink='/register' href="#" >Register</a>
      </li>
      <li *ngIf="!loginStatus" class="nav-item">
        <a class="nav-link" routerLink='/login' href="#">Login</a>
      </li>
      <li *ngIf="loginStatus" class="nav-item">
        <a class="right-align nav-link"  (click)="doLogout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>

<div class="row">

  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>

